@model AspNet.Models.IndexViewModel
@using AspNet.Helpers
@{
    ViewBag.Title = "DoctorList";
}

<h2>Doctor List</h2>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", new {} ,new { @class = "doctorItem" })|@Html.ActionLink("Exit", "Index", "Accounts")
</p>
<p>
    @Html.ActionLink("Patient List", "PatientList")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("LastName")
        </th>
        <th>
            @Html.DisplayName("Specialization")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Doctors)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
        </tr>
    }

</table>
<br />

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("DoctorList", new { page = x }))
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cashe: false });
            $(".doctorItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}