@*@model IEnumerable<AspNet.Models.Doctor>*@
@model AspNet.Models.IndexViewModel
@using AspNet.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Doctor List</h2>

<p>
    @Html.ActionLink("Create New", "Create")|@Html.ActionLink("Exit", "Index", "Accounts")
</p>
<p>
    @Html.ActionLink("Patient List", "PatientList")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("LastName")
        </th>
        <th>
            @Html.DisplayName("Specialization")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Doctors)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
        </tr>
    }

</table>
<br />

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>