@*@model IEnumerable<AspNet.Models.Patient>*@
@model AspNet.Models.IndexViewModel
@using AspNet.Helpers

@{
    ViewBag.Title = "PatientList";
}

<h2>Patient List</h2>

<p>@Html.ActionLink("Doctor List", "Index")</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("LastName")
        </th>
    </tr>

    @foreach (var item in Model.Patients)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.LastName)
            </td>
        </tr>
    }

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("PatientList", new { page = x }))
</div>
