@{
    ViewBag.Title = "Log In";
}

<h2>Log in Form</h2>
<form method="post" action="">

    <table>
        <tr>
            <td> @Html.Label("Input your email:")</td>
            <td> @Html.TextBox("Email")</td>
        </tr>
        <tr>
            <td>@Html.Label("Input your password:")</td>
            <td>@Html.Password("Password")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Log in" /></td>
            <td>@Html.ActionLink("Go back", "Index") </td>
        </tr>
    </table>
</form>

