@model AspNet.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h2>Doctor Details</h2>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Account.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Account.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Specialization)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Specialization)
            </dd>
            <dt>
                Patients
            </dt>
            <dd>
                <ul>
                    @foreach (AspNet.Models.Patient c in ViewBag.Patients)
                    {
                        <li>@c.Account.FirstName @c.Account.LastName</li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
</div>


